#small-symbol .chart-symbol {
    -fx-background-radius: 1px ;
    -fx-padding: 1px ;
}
.thick-chart .chart-series-line {    
-fx-stroke-width: 1px;
}
.button
 {
    -fx-background-color: transparent;
 }